.book {
  border: 2px solid red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.book h1 {
  font-size: larger;
  font-weight: bolder;
}
.Book-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
}
.book img {
  width: 100%;
}
